<launch>
    <arg name="frequency" value="200"/>

    <include file="$(find sdv_control)/launch/car_model.launch"/>

    <node name="cascaded_controller_node" pkg="sdv_control" type="cascaded_controller_node" output="screen">
    <!-- <node name="los_cascaded_controller_node" pkg="sdv_control" type="los_cascaded_controller_node" output="screen"> -->
    <!-- <node name="waypoint_controller_node" pkg="sdv_control" type="waypoint_controller_node" output="screen"> -->
        <param name="node_frequency" value="$(arg frequency)" />
    </node>


</launch>